/* general styling */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
    color: rgb(254, 111, 135);
    transition: all .35s;
}

a:hover, a:focus {
    color: pink;
}


/* styling the nav items to the left of the page*/
.navbar-nav {
    margin-left: auto;
    margin-right: 0px !important;
}

.navbar {
    background-color: rgb(0,0,0, 0.7);
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.jumbotron {
    height: 500px;
    background-image: url(../assets/images/hero-jumbo-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cardContainer {
    margin-bottom: 15px;
}

.card {
    margin: 0 auto;
}

/* Signup section ============= */

.signup-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url("../assets/images/hero-jumbo-3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.signup-section .form-inline input {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    height: auto;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.contact-section {
    padding-top: 5rem;
}

.contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid pink;
}

.contact-section .card h4 {
    font-size: 0.8rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.contact-section .card hr {
    border-color: pink;
    border-width: 0.25rem;
    width: 3rem;
}

.contact-section .social {
    margin-top: 5rem;
    height: 100px
}

.contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: white;
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
}

.mx-2 img {
    height: 30px;
}

.contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
    color: #fff;
}

.bg-black {
    background-color: #000000 !important;
}
/* social media icons */


/* footer */
footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(0,0,0, 0.7);
    margin-top: 0px;
    text-align: center;
}

.f-text {
    color: white;
}